textarea:focus, div:focus {
  outline: 0px solid transparent;
}

.editable {
  min-height: 500px;
}

.add-dialog {
  width: 350px;
  height: 170px;
}

// Toolbar buttooonloasss 
.medium-editor-toolbar li button {
}

.card .card-action a.font-white {
  color: white;
}

li {
  display: inline-block;
}

.medium-editor-toolbar li button {
  background-color: rgb(255, 109, 0);
  border-right: 1px solid #e65100;

  &:hover {
    background-color: #e65100;
  }
}
.medium-toolbar-arrow-under:after {
  border-color: rgb(255, 109, 0) transparent transparent transparent;
}
