<form action="submit"> 
  {{md-input
    value=username
    label='username'}}

  {{md-input
    value=work
    label='password'
    type="password"}}

  {{md-btn icon='mdi-content-send'
    iconPositin='right'
    text='Submit'
    action='submit'}}
</form>
